.category-column {
    width: calc(100% / 6);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background: #060CE9;

}

.utility-menu {
   position: fixed;
    top: 10px;
    right: 20px;
    z-index: 4;
    font-family: 'Libre Baskerville';

}
.utility-menu h3{
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 20px;
}

.cat-name,
.question-name {
    /*height:calc(100vh / 6);*/
    height: calc((100vh - 50px)/6);
}

.cat-name {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-top:4px solid black;
    border-bottom-width: 5px;
    text-transform: uppercase;
    font-size: 20px;
}

.cat-name.cat-name-active {
    background: yellow;
}

.question-name {
    color: #e6af71;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    font-size: 40px;
    position: relative;
}

.active-question {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 4;
    background: #132bb2;
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 100px;
    text-align: center;
}

.active-question .question-text {
    margin-bottom: 40px;
}

.jeopardy-table {
    position: absolute;
    top: 50px;
    height: calc(100vh - 50px);
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.rs-container {
    position: fixed;
    width: 0%;
    height: 0%;
    left: 0px;
    top: 0px;
    opacity: 0;
}

.contestants-table {
    position: absolute;
    width: 100%;
    /*display: inline-block;*/
    /*width:20%;*/
    text-align: center;
    padding: 0px;
    font-size: 50px;
    vertical-align: top;
    /*background: #060CE9;*/
    height: 50px;
    top: 0px;
    text-align: left;
    left: 0px;
    margin: 0px;
    /*padding:10px 10px;*/
    display: flex;
    justify-content: center;
    align-items:center;
}

.contestants-table .contestant-item, .contestant {
    display: inline-block;
    /*color: white;*/
    font-size: 20px;
    line-height: 1;
    margin: 0px;
    vertical-align: top;
    color:black;
    padding:0px 50px;
    text-align: center;
        border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;

}

.contestants-table .contestant-item.contestant-active{
  color:green;
}
.question-name .rs-container button {
    position: fixed;
    width: 0px;
    height: 0px;
    left: 0px;
    background: transparent !important;
    border: 0px !important;
}

.question-name .rs-container button svg {
    display: none;
}

@media(max-width: 766px) {
    .question-name {
        /*color:;*/
        font-size: 16px;
    }

    .cat-name {
        font-size: 12px;
    }

    .active-question {
        font-size: 16px;
        flex-direction: column;
        /*margin-bottom:30px;*/
        justify-content: space-between;
        padding: 150px 100px;
    }
}
.backToMenu{
    position: absolute ;
    font-size: 20px;
    left: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.backToMenu:hover{
    color:#e6af71 !important;
}

.turn-warning{
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
    padding: 100px;
    border:  5px solid red;
}
.close-warning{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 3px;
    cursor: pointer;
}
.close-warning:before{
height: 20px;
width: 3px;
position: absolute;
transform: rotate(45deg);
content: "";
background: red;
top: 0px;
right: 0px;
}
.close-warning:after{
height: 20px;
width: 3px;
position: absolute;
transform: rotate(-45deg);
content: "";
background: red;
top: 0px;
left: 0px;
}