@font-face {
    font-family: "JosefinSans-Regular";
    src: url("fonts/Josefin_Sans/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans";
    src: url("fonts/Josefin_Sans/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans-Bold";
    src: url("fonts/Josefin_Sans/JosefinSans-Bold.ttf");
}

@font-face {
    font-family: "JosefinSans-SemiBold";
    src: url("fonts/Josefin_Sans/JosefinSans-SemiBold.ttf");
}

@font-face {
    font-family: "JosefinSans-Light";
    src: url("fonts/Josefin_Sans/JosefinSans-Light.ttf");
}

@font-face {
    font-family: "JosefinSans-Thin";
    src: url("fonts/Josefin_Sans/JosefinSans-Thin.ttf");
}

@font-face {
    font-family: "JosefinSans-LightItalic";
    src: url("fonts/Josefin_Sans/JosefinSans-LightItalic.ttf");
}

@font-face {
    font-family: "JosefinSans-BoldItalic";
    src: url("fonts/Josefin_Sans/JosefinSans-BoldItalic.ttf");
}

@font-face {
    font-family: "Lateef";
    src: url("fonts/Lateef/LateefRegOT.ttf");
}

@font-face {
    font-family: "JosefinSans-SemiBoldItalic";
    src: url("fonts/Josefin_Sans/JosefinSans-SemiBoldItalic.ttf");
}

body {
    font-family: "JosefinSans";
}

@media(max-width: 766px){
    .question-name{
        font-size: 20px;
    }
}
.contestant-active{
    color:green;
}
#answer-field{
    /*display: none;*/
}
.active-answer-panel{
    position: fixed;
    width: 500px;
    height: 500px;
    background: blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}
.answer-result-panel{
    position: fixed;
    width: 500px;
    height: 500px;
    background: rgba(0,0,0,0.75);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 105;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}
.correct-answer, .incorrect-answer, .question-over, .times-up{
    background:green;
    width:300px;
    height:300px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.incorrect-answer{
    background:red;
}
.question-over{
    background: white;
}
.times-up{background: white}
@media(max-width: 766px){


}

.answerTimer{
    background:green;
    position:absolute;
    height:30px;
    left:50%;
    bottom:30px;
    transform:translate(-50%, 0%);
}